* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ヘッダーここから */
header {
  width: 100%;
  background-color: #ec715f;
  height: 70px;
}

.header-container {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-logo img {
  height: 70px;
}


.menu-list {
  display: flex;
}

.menu-list-item {
  list-style: none;
  padding: 0 30px;
  line-height: 70px;
}

.menu-list-item a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  color: #fafafa;
  cursor: pointer;
}
/* ヘッダーここまで */

/* メインヴィジュアルここから */
.main-visual-container {
  width: 100%;
  height: 650px;
  background-image: url("img/mv.png");
  background-size: cover;
  background-position: bottom;
  padding-top: 200px;
  text-align: center;
}

.mv-container {
  width: 1024px;
  margin: 0 auto;
}

.main-visual-heading {
  font-size: 64px;
  color: #fafafa;
  text-align: center;
  padding-bottom: 10px;
}

.main-visual-container p {
  font-size: 20px;
  color: #fafafa;
  text-align: center;
}
/* メインヴィジュアルここまで */

/* ポートフォリオここから */
.portfolio-container {
  padding: 90px 0;
  background-color: #eceff1;
}

.portfolio-contents {
  width: 920px;
  margin: 0 auto;
}

.portfolio-content {
  text-align: center;
}

.content-heading {
  font-size: 32px;
  color: #000;
}

.border {
  height: 3px;
  width: 70px;
  border-bottom: 3px solid #ec715f;
  margin: 8px auto 30px;
}

.content-text {
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
}

.portfolio-images {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.portfolio-images .img {
  height: 250px;
  width: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: pink;
}

.portfolio-images .img:nth-child(1) {
  background-image: url("img/sketch.jpg");
  background-size: cover;
  background-position: center;
}
.portfolio-images .img:nth-child(2) {
  background-image: url("img/websuku.png");
  background-size: cover;
  background-position: center;
}
.portfolio-images .img:nth-child(3) {
  background-image: url("img/write.jpg");
  background-size: cover;
  background-position: center;
}
.portfolio-images .img:nth-child(4) {
  background-image: url("img/webcamp.png");
  background-size: cover;
  background-position: center;
}
.portfolio-images .img:nth-child(5) {
  background-image: url("img/talk.jpg");
  background-size: cover;
  background-position: center;
}
.portfolio-images .img:nth-child(6) {
  background-image: url("img/webcamp-mother.png");
  background-size: cover;
  background-position: center;
}

.portfolio-images .img:nth-child(3n) {
  margin-right: 0;
}

.portfolio-images .img:nth-child(n+4) {
  margin-bottom: 0;
}
/* ポートフォリオここまで */

/* 特徴ここから */
.feature {
  width: 980px;
  margin: 0 auto;
  padding: 90px 0;
  text-align: center;
}

.feature-boxes {
  width: 980px;
  display: flex;
  margin: 0 auto;
}

.feature-box {
  width: 320px;
  margin-right: 10px;
}

.feature-box:last-child {
  margin-right: 0;
}

.feature-box .fas {
  font-size: 60px;
}

.feature-box-heading {
  font-size: 20px;
  padding: 10px 0;
}

.feature-box-text {
  font-size: 16px;
  color: #000;
  text-align: start;
}
/* 特徴ここまで */

/* プロフィールここから */
.profile {
  background-color: #eceff1;
  padding: 90px 0;
}

.profile-contents {
  width: 1024px;
  margin: 0 auto;
}

.profile-content {
  text-align: center;
}

.profile-box {
  display: flex;
}

.img-box {
  width: 50%;
  text-align: center;
}

.my-face {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url("img/my-icon.jpg");
}

.profile-introduction {
  width: 50%;
}

.profile-introduction-heading {
  font-size: 20px;
  padding-bottom: 5px;
}

.profile-introduction-text {
  padding-bottom: 20px;
}
/* プロフィールここまで */

/* コンタクトここから */
.contact {
  width: 800px;
  margin: 90px auto;
  text-align: center;
}

.contact-box {
  display: flex;
  text-align: center;
}

.left-box {
  width: 50%;
  display: flex;
  justify-content: center;
}

.contact-detail-box {
  text-align: start;
}

.contact-detail-heading {
  font-size: 20px;
  padding-bottom: 5px;
}

.contact-detail-text {
  padding-bottom: 20px;
  display: inline-block;
  color: black;
}

.right-box {
  width: 50%;
  display: flex;
  justify-content: center;
}

.sns-heading {
  font-size: 20px;
  padding-bottom: 5px;
  text-align: start;
}

.fa-facebook-f, .fa-twitter, .fa-instagram {
  font-size: 50px;
  margin-right: 20px;
}
/* コンタクトここまで */

/* フッターここから */
footer {
  height: 60px;
  text-align: center;
  background-color: #ec715f;
  line-height: 60px;
}

.footer-text {
  font-size: 16px;
  color: #fafafa;
}
/* フッターここまで */

/* レスポンシブここから */
@media screen and (max-width: 768px) {

  /* ヘッダーここから */
  header {
    height: 50px;
  }

  .header-container {
    width: 90%;
  }

  .header-logo img {
    height: 50px;
  }

  #menu {
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    margin: 5px 0;
  }

  .menu-bar {
    height: 2px;
    width: 25px;
    background-color: #fff;
    display: block;
    margin: 5px auto;
  }

  .menu-bar:first-child {
    margin-top: 10px;
  }

  .menu {
    display: none;
  }
  /* ヘッダーここまで */

  /* メインヴィジュアルここから */
  .main-visual-container {
    background-image: url("img/code.png");
  }

  .mv-container {
    width: 90%;
  }

  .main-visual-heading {
    font-size: 40px;
    color: #fafafa;
    text-align: center;
    padding-bottom: 10px;
  }

  .main-visual-container p {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
  }
  /* メインヴィジュアルここまで */

  /* ポートフォリオここから */
  .portfolio-contents {
    width: 90%;
  }

  .portfolio-images {
    display: block;
    width: 300px;
  }

  .portfolio-images .img {
    margin-right: 0;
  }

  .portfolio-images .img:nth-child(odd) {
    display: none;
  }
  .portfolio-images .img:nth-child(4) {
    margin-bottom: 10px;
  }
  /* ポートフォリオここまで */

  /* 特徴ここから */
  .feature {
    width: 90%;
  }

  .feature-boxes {
    width: 320px;
    display: block;
  }

  .feature-box .fas {
    margin-top: 10px;
  }
  /* 特徴ここまで */

  /* プロフィールここから */
  .profile-contents {
    width: 90%;
  }

  .profile-box {
    display: block;
  }

  .img-box {
    width: 100%;
  }

  .profile-introduction-heading:first-child {
    margin-top: 20px;
  }
  .profile-introduction {
    text-align: center;
    width: 100%;
  }
  /* プロフィールここまで */

  /* コンタクトここから */
  .contact {
    width: 90%;
  }

  .contact-box {
    display: block;
  }

  .left-box {
    display: block;
    width: 100%;
  }

  .contact-detail-box {
    text-align: center;
  }

  .right-box {
    display: block;
    width: 100%;
  }

  .sns-heading {
    text-align: center;
  }

  .fa-facebook-f, .fa-twitter, .fa-instagram {
    margin-right: 8px;
  }
  /* コンタクトここまで */
}
/* レスポンシブここまで */